name: Continuous Deployment VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: SSH into the VM and deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USERNAME }}
        password: ${{ secrets.VM_PASSWD }}
        script: |
          cd ~/acp-runner/_work/TakeItEasy-frontend-acp/TakeItEasy-frontend-acp
          # Build and run the Docker image on the VM
          docker build -t takeiteasy-frontend-acp .
          docker stop tie-frontend-acp || true
          docker rm tie-frontend-acp || true
          docker run -d --name tie-frontend-acp -p 3000:3000 takeiteasy-frontend-acp
